@media (max-width: 992px) {
    .home .home-right-section img {
        width: 20rem;
    }

    .home {
        height: auto;
    }
}

@media (max-width: 768px) {

    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .navbar {
        height: auto;
    }

    .navbar .left {
        margin-left: 0rem;
    }

    .navbar .right {
        margin-right: 0rem;
    }

    #menu {
        display: block;
        position: relative;
        right: 2px;
        font-size: 1.8rem;
    }

    #responsive-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 0vh;
        background-color: #b8d7db;
        overflow: hidden;
        width: 100vw;
        position: fixed;
        top: 3.7rem;
        left: 0;
        z-index: 1;
    }

    .home .home-right-section img {
        width: 12rem;
        height: 12rem;
        margin: 1.5rem auto;
        position: static;
        margin-left: -1rem;
    }

    .home {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        margin: 3rem auto;
    }

    .home-right-section,
    .home-left-section {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .home .home-left-section {
        width: 20rem;
    }

    .home .home-left-section .description {
        font-size: 1.3rem;
    }

    .about .section-title {
        font-size: 2.5rem;
    }

    .about .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about .about-img {
        width: 100%;
        /* margin-right: 4.6rem; */
    }

    .about .about-description {
        width: 100%;
    }

    .about .about-img img {
        width: 12rem;
        margin-bottom: 2rem;
    }
}
